/* Set up the timeline wrapper */
.timeline-wrapper {
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.timeline-wrapper *, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-sizer,
.gutter-sizer {
  height: 0;
}

/* Basic grid styling */
.grid {
  background-color: #e9f0f5;
}
.grid-item {
  position: relative;
  margin: 2% 1% 0% 1%;
  padding: 0;
}
/* Adjust the margin top so we won't end up with first and second exactly even */
div.grid>div:nth-child(5) {
  margin-top: 4%;
}

.timeline-block {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 0.5em;
  box-shadow: 0 3px 0 #d7e4ed;
}

.timeline-content {
  margin: 0;
  padding: 0 2% 2% 2%;
}
.timeline-date {
  font-size: larger;
  font-weight: bold;
  margin: 5px 0 0 0;
  padding: 0;
}
.timeline-inner-content {
  padding: 10px 10px 0 10px;
  margin: -3% 0 0 0;
}
.timeline-group {
  min-height: 10px;
  vertical-align: middle;
  font-size: x-large;
  font-weight: bold;
  background-color: transparent;
  margin-top: 4%;
}


/* Set up vertical timeline line */
#timeline {
  height: 100%;
}

#timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background: #d7e4ed;
}

/* Common characteristics of left and right arrows */
.grid-item-right::before,
.grid-item-left::before {
  content:'';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 100;
}

/* Create the circle marker on the timeline */
.circle {
  content: ' ';
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #999;
}

/* Small screen-only adjustments */
@media screen and (max-width: 919px) {
  .grid {
    padding-left: 30px;
    padding-right: 20px;
  }
  /* Move timeline to the left in narrow screens */
  #timeline::before {
    left: 17px;
  }

  /* 1 column by default */
  .grid-sizer,
  .grid-item {
     width: 0 auto;
  }
  .gutter-sizer {
    width: 0%;
  }

  /* Left and right arrows are the same at small widths */
  .grid-item-right::before,
  .grid-item-left::before {
    top: 0;
    left: -10px;
  	 border-right:10px solid white;
  }

  .grid-item-right .circle,
  .grid-item-left .circle {
    left: -15px;
    top: 8px;
  }

  /* Eliminate arrows on group headers */
  .timeline-group.grid-item-right::before,
  .timeline-group.grid-item-left::before {
    border-right:10px solid transparent;
  }

}

/* Large screen-only adjustments */
@media screen and (min-width: 920px) {

  /* 2 columns for larger screens */
  .grid-sizer,
  .grid-item {
    width: 48%;
  }
  .gutter-sizer {
    width: 30px;
  }
  .grid-item-right {
    margin-left: 5px;
  }
  .grid-item-left {
    margin-right: 10px;
  }
  /* Right arrow */
  .grid-item-left::before {
    top: 0;
    right: -10px;
  	 border-left: 10px solid white;
  }

  /* Left arrow */
  .grid-item-right::before {
    top: 0;
    left: -10px;
  	 border-right:10px solid white;
  }

  /* Eliminate arrows on group headers */
  .timeline-group.grid-item-right::before {
    border-right:10px solid transparent;
  }
  .timeline-group.grid-item-left::before {
    border-left:10px solid transparent;
  }

  /* Slide circles over to the timeline */
  .grid-item-right .circle {
    left: -15px;
    top: 8px;
  }
  .grid-item-left .circle {
    right: -15px;
    top: 8px;
  }

  /* Move timeline to the center in wide screens */
  #timeline::before {
    left: 50%;
  }

  /* Right align things on the left side of the timeline */
  .grid-item-left {
    text-align: right;
  }


}

/* Add 'modal' effect when hoving over an item at desktop sizes */
@media screen and (min-width: 920px) {

  .timeline-content {
    transition: all 0.5s ease;
    z-index: inherit !important;
  }
  .timeline-content:hover {
    transform: scale(1.3);
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0.5em;
    border: 1px #d7e4ed solid;
    box-shadow: 0 3px 0 #999;
    z-index: 100 !important;
    position: absolute;
  }
  .grid-item-left .timeline-content:hover {
    margin-left: 25%;
    margin-right: -25%;
  }

  .grid-item-right .timeline-content:hover {
    margin-right: 25%;
    margin-left: -25%;
  }

}
