/* Set up the timeline wrapper */
.timeline-wrapper {
  position: relative;
  width: 100%;
}

.grid-sizer,
.gutter-sizer {
  height: 0;
}

/* Basic grid styling */
.grid {
  background-color: #e9f0f5;
}
.grid-item {
  background-color: #fff;
  position: relative;
  margin: 2% 1% 0% 1%;
  padding: 0;
}
/* Adjust the margin top so we won't end up with first and second exactly even */
div.grid>div:nth-child(5) {
  margin-top: 4%;
}
.timeline-content {
  margin: 0;
  padding: 0 2% 2% 2%;
}
.timeline-date {
  font-size: larger;
  font-weight: bold;
  margin: 12px 0 0 0;
  padding: 0;
}
.timeline-inner-content {
  padding: 0;
  margin: -3% 0 0 0;
}
.timeline-group {
  min-height: 24px;
  vertical-align: middle;
  font-size: x-large;
  font-weight: bold;
  background-color: transparent;
  margin-top: 4%;
}


/* Set up vertical timeline line */
#timeline {
  height: 100%;
}

#timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background: #d7e4ed;
}

/* Common characteristics of left and right arrows */
.grid-item-right::before,
.grid-item-left::before {
  content:'';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  z-index: 100;
}

/* Create the circle marker on the timeline */
.circle {
  content: ' ';
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #d7e4ed;
}

/* Small screen-only adjustments */
@media screen and (max-width: 919px) {
  .grid {
    padding-left: 30px;
    padding-right: 20px;
  }
  /* Move timeline to the left in narrow screens */
  #timeline::before {
    left: 10px;
  }

  /* 1 column by default */
  .grid-sizer,
  .grid-item {
     width: 0 auto;
  }
  .gutter-sizer {
    width: 0%;
  }

  /* Left and right arrows are the same at small widths */
  .grid-item-right::before,
  .grid-item-left::before {
    top: 0;
    left: -24px;
  	 border-right:24px solid white;
  }

  .grid-item-right .circle,
  .grid-item-left .circle {
    left: -28px;
    top: 20px;
  }

  /* Eliminate arrows on group headers */
  .timeline-group.grid-item-right::before,
  .timeline-group.grid-item-left::before {
    border-right:24px solid transparent;
  }

}

/* Large screen-only adjustments */
@media screen and (min-width: 920px) {

  /* 2 columns for larger screens */
  .grid-sizer,
  .grid-item {
    width: 47%;
  }
  .gutter-sizer {
    width: 48px;
  }
  .grid-item-right {
    margin-left: 12px;
  }
  .grid-item-left {
    margin-right: 24px;
  }
  /* Right arrow */
  .grid-item-left::before {
    top: 0;
    right: -24px;
  	 border-left: 24px solid white;
  }

  /* Left arrow */
  .grid-item-right::before {
    top: 0;
    left: -24px;
  	 border-right:24px solid white;
  }

  /* Eliminate arrows on group headers */
  .timeline-group.grid-item-right::before {
    border-right:24px solid transparent;
  }
  .timeline-group.grid-item-left::before {
    border-left:24px solid transparent;
  }

  /* Slide circles over to the timeline */
  .grid-item-right .circle {
    left: -28px;
    top: 20px;
  }
  .grid-item-left .circle {
    right: -28px;
    top: 20px;
  }

  /* Move timeline to the center in wide screens */
  #timeline::before {
    left: 50%;
  }

  /* Right align things on the left side of the timeline */
  .grid-item-left {
    text-align: right;
  }


}
