{#
/**
* @file
* Template for the vertical timeline style.
*/
#}
  {% for row in rows %}
    {% if row.group is defined %}
      <div class="timeline-group grid-item">
        {{ row.group }}
      </div>
    {% endif %}

    <div class="timeline-block grid-item">
      <div class="circle"></div>
      <div class="timeline-content">
       <div class="timeline-inner-content">{{ row }}</div>
      </div>
   </div>

  {% endfor %}

