{#
/**
* @file
* Template for the vertical timeline style.
*/
#}

<div class="view-content">

  {% for row in rows %}

    {% if row.group %}
      <div class="timeline-group grid-item">
        {{ row.group }}
      </div>
    {% endif %}

    <div class="timeline-block grid-item">
      <div class="circle"></div>
      <div class="timeline-content">
       <div class="timeline-inner-content">{{ row.content }}</div>
      </div>

    </div>

  {% endfor %}

</div>
