{#
/**
* @file
* Template for the vertical timeline style.
*/
#}

{{ attach_library('vertical_timeline/timeline') }}

<div id="timeline-wrapper" class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <div id="timeline"></div>
  {{ content }}
  {{ pager }}
</div>
